<!DOCTYPE html>
<html>
<head>
  <title>HakunaMatable</title>
  <%= stylesheet_link_tag    "hakuna_matable/application", media: "all" %>
  <%= javascript_include_tag "hakuna_matable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
